## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
*.vs/
**/Debug/
**/Release/
*.nupkg

## IDE
.idea/
.vscode/
*.swp
*.swo

## OS
Thumbs.db
.DS_Store

## Local development secrets
appsettings.*.local.json

## SQLite DB (local dev)
*.db
*.db-wal
*.db-shm
